.yg-fade-enter,
.yg-fade-leave-to {
  transform-origin: center;
}

.yg-fade-enter-active {
  animation: fadeIn 0.2s;
}

.yg-fade-leave-active {
  animation: fadeOut 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.yg-zoom-enter,
.yg-zoom-leave-to {
  transform-origin: center;
}

.yg-zoom-enter-active {
  animation: zoomIn 0.2s;
}

.yg-zoom-leave-active {
  animation: zoomOut 0.2s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.yg-slide-enter,
.yg-slide-leave-to {
  transform: translate3d(0, 100%, 0);
}

.yg-slide-enter-active {
  animation: slideInUp 0.2s;
}

.yg-slide-leave-active {
  animation: slideOutDown 0.2s;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
